<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <form action="/" method="post">
        <h1>
            <%= kindOfDay %>
        </h1>

        <ul>
            <% for(let i = 0; i < newElement.length; i++) { %>
                <li>
                    <%= newElement[i] %>
                </li>
                <% } %>
        </ul>
        <input type="text" placeholder="Enter the next thing to do" name="toDo">
        <button type="submit" name="submit">Submit</button>
    </form>

</body>

</html>